
@{
    ViewBag.Title = "index";
}
<div class="dashboard">
    <div class="wrapper">
        <h1>Dashboard</h1>
        <form style="display: inline" action="/Voters/create" method="get">
            <button>Enter Attendee Information</button>
        </form>
        <form style="display: inline" action="/Students/create" method="get">
            <button>Enter Student Information</button>
        </form>

</div>
</div>

