
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
 

        <div id="options">
            <p style="display:inline-block;">
                @Html.ActionLink("Create New Project For ", "Create", new { }, new { @class = "btn", id = "semester" })

                <input type="hidden" name="lname" value="">
            </p>
@if (ViewBag.Course_Count != 0)
{
            <p style="display:inline-block;">
                @Html.ActionLink("Export Projects For ", "ExportPlanToWord", new { }, new { @class = "btn", id = "export" })
                <input type="hidden" name="lname" value="">
            </p>
}
        </div>

</body>
</html>
<script>
    $('#semester').html('Create project for ' + $('#scope_project option:selected').text());
    $('#export').html('Export projects for ' + $('#scope_project option:selected').text());
    $('#semester').attr('href', "/Projects/Create/" + e.val());
    $('#export').attr('href', "/Projects/ExportPlanToWord/" + e.val() + "?course_id=" + course.val());
</script>