
@{
    ViewBag.Title = "upload_error";
}

<div class="row">
    <h3>You have uploaded a file with the incorrect format.</h3>
    <h3>Please format each line on the file accordingly</h3>
    <h3>Example:</h3>
    <h3>Dummy Project 34;CEN6017;Engineering of Software II;Student 1, student 2, and student 3</h3>
</div>

