
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>no_information</title>
</head>
<body>
    <div> 
        <h2>No Votes have been casted for this Symposium, please wait until voters participate.</h2>
    </div>
</body>
</html>
