<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://unfsymposiumvoting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>unfsymposiumvoting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>unfsymposiumvoting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$unfsymposiumvoting</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:xup5o2p4k0.database.windows.net,1433;Initial Catalog=voting;User ID=loopdeloop@xup5o2p4k0;Password=Gunit123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SymposiumVoting-20140918040808.mdf;Initial Catalog=aspnet-SymposiumVoting-20140918040808;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.test.csdl|res://*/Models.test.ssdl|res://*/Models.test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=|DataDirectory|\aspnet-SymposiumVoting-20140918040808.mdf;initial catalog=aspnet-SymposiumVoting-20140918040808;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:xup5o2p4k0.database.windows.net,1433;Initial Catalog=voting;User ID=loopdeloop@xup5o2p4k0;Password=Gunit123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SymposiumVoting.Models.mainDBContext, SymposiumVoting" MigrationConfiguration="SymposiumVoting.Migrations.Configuration, SymposiumVoting" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xup5o2p4k0.database.windows.net,1433;Initial Catalog=voting;User ID=loopdeloop@xup5o2p4k0;Password=Gunit123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.test.csdl|res://*/Models.test.ssdl|res://*/Models.test.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:xup5o2p4k0.database.windows.net,1433;initial catalog=voting;user id=loopdeloop@xup5o2p4k0;password=Gunit123;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>