body {
    padding-bottom: 20px;
}
.blank_slate
{
    padding-right: 30px;

}

.align_filter
{
     vertical-align:top;
        display:inline-block;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.glyphicon{
    float: left;
    padding-right: 20px;
    font-size: 22px;
}

.modal_input{
    display: inline-block;
    margin-left: 5px;

}
.delete_input{
    display: inline-block;
    float:right;

}
.delete_form{
display: inline-block;
}
.modal_input input{
             width:75px;
         }
.qr_code{
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a.btn{
    color: white;
}
 
td{
    text-align: right;
}


.dashboard {
    text-align: center;
}
.actions{
    text-align: center;
}
td{
    text-align: left;
}
button{
background-color: rgb(40,40,40);
color: #fff;
}
* { font-family:Arial; }
h2 { padding:0 0 5px 5px; }
h2 a { color: #224f99; }
a { color:#999; text-decoration: none; }
a:hover { color:#802727; }
p { padding:0 0 5px 0; }

input { padding:5px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -web-kit-border-radius:4px; -khtml-border-radius:4px; }
#h2_nav{
    float:left;
}
#h3_nav{
    float: right;
}

.button {
     
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);

#home_title{
    display: inline-block;
    vertical-align: bottom;
}

#account_wrapper{
    display: inline-block;
}
